@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <p>
        Pull là update code từ git về máy
        </p>
    <p>
        Push là đẩy code lên repo (gt)
    </p>
    <p>
        thấy cái biểu tượng thay đổi k , ời thấy
        khi m push lên là cái đó nó về như ổ khoá là code ở git vs máy m đang đồng bộ
        giờ trên git chưa có mấy dòng này
        tức là máy t cũng chưa có 
        giờ push lên
        giờ sửa ở đây
    </p>
</div>