
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/table")

<h2>List of account <small>table useraccount</small></h2>
<a href="@Url.Action("index","Manager")">Table users...</a>
<ul class="responsive-table">
    <li class="table-header">
        <div class="col col-1">User Id</div>
        <div class="col col-2">User Name</div>
        <div class="col col-3">email</div>
        <div class="col col-4">faculty</div>
        <div class="col col-5">role</div>
        <div class="col col-6">action</div>
    </li>
    <li class="table-row">
        <div class="col col-1" data-label="User Id">42235</div>
        <div class="col col-2" data-label="User Name">Nguyễn Hoàng Anh</div>
        <div class="col col-3" data-label="Email">anhanh@gmail.com</div>
        <div class="col col-4" data-label="faculty">cntt</div>
        <div class="col col-5" data-label="role">admin</div>
        <div class="col col-6" data-label="action">x</div>
    </li>
    <li class="table-row">
        <div class="col col-1" data-label="User Id">42235</div>
        <div class="col col-2" data-label="User Name">Nguyễn Hoàng Anh</div>
        <div class="col col-3" data-label="Email">anhanh@gmail.com</div>
        <div class="col col-4" data-label="faculty">cntt</div>
        <div class="col col-5" data-label="role">admin</div>
        <div class="col col-6" data-label="action">x</div>
    </li>
    <li class="table-row">
        <div class="col col-1" data-label="User Id">42235</div>
        <div class="col col-2" data-label="User Name">Nguyễn Hoàng Anh</div>
        <div class="col col-3" data-label="Email">anhanh@gmail.com</div>
        <div class="col col-4" data-label="faculty">cntt</div>
        <div class="col col-5" data-label="role">admin</div>
        <div class="col col-6" data-label="action">x</div>
    </li>
    <li class="table-row">
        <div class="col col-1" data-label="User Id">42235</div>
        <div class="col col-2" data-label="User Name">Nguyễn Hoàng Anh</div>
        <div class="col col-3" data-label="Email">anhanh@gmail.com</div>
        <div class="col col-4" data-label="faculty">cntt</div>
        <div class="col col-5" data-label="role">admin</div>
        <div class="col col-6" data-label="action">x</div>
    </li>

</ul>


